<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Update profile</h1>


<form action=""method="post">

    {% csrf_token %}

    <label for="">user name</label>
    <input type="text"name="name"placeholder="Enter the name"value="{{ profile.name }}">

    <label for="">user age</label>
    <input type="text"name="age"placeholder="Enter the age"value="{{ profile.age}}">

    <label for="">user address</label>
    <input type="text"name="address"placeholder="Enter the address"value="{{ profile.address}}">

    <label for="">user skill</label>
    <input type="text"name="skill"placeholder="Enter the skill"value="{{ profile.skill }}">

    <input type="submit" value="update">

</form>


</body>
</html>